 <% layout("/layouts/boilerplate") %>
<body>
    
<form  method="post" action="/listings/<%= listing._id %>?_method=put" novalidate class="needs-validation" enctype="multipart/form-data"> 
        <div>
            <label for="title"><b>Title</b></label>
            <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control" required>
            <div class="invalid-feedback">please fill this title</div>
        </div>

        <div>
            <label for="description"><b>Description</b></label>
            <input type="text" name="listing[description]" value="<%= listing.description %>" class="form-control " required></input>
            <div class="invalid-feedback">please write the short description</div>
        </div>

        <div>
            <label for="price"><b>Price</b></label>
            <input type="text" name="listing[price]" value="<%= listing.price %>" class="form-control" required>
            <div class="invalid-feedback">please enter price</div>
        </div>

         <div class="prev-image-box">
            Original Image
            <img class="col-3 prev-image" src="<%= listing.image.url%>" alt="">
        </div>
            <div>
                <label for="image"> Upload New Image</label>
                 <input type="file" name="listing[image]" class="form-control" >
                 <div class="invalid-feedback">please choose the file image</div>
    
            </div>

            <div>
                <label for="category"><b>Choose category</b></label>
                <select name="listing[category]" id="category" class="form-control" value="listing[category]" required>
                    <option value="Beachfront">Beachfront</option>
                    <option value="Lakefronts">Lakefronts</option>
                    <option value="trending">trending</option>
                    <option value="Mountains">Mountains</option>
                    <option value="Treehouse">Tree house</option>
                    <option value="Cabin">Cabin</option>
                    <option value="Desert">Desert</option>
                    <option value="Cottage">Cottage</option>
                    <option value="Historicalhomes">Historicalhomes</option>
                    <option value="Beach">Beach</option>
                    <option value="Rooms">Rooms</option>
                </select>
            </div>


        <div>
            <label for="location"><b>Location</b></label>
            <input type="text" name="listing[location]" value="<%= listing.location %>" class="form-control" required>
            <div class="invalid-feedback">please enter the current location</div>
        </div>

        <div>
            <label for="country"><b>Country</b></label>
            <input type="text" name="listing[country]" value="<%= listing.country %>" class="form-control" required>
            <div class="invalid-feedback">please enter the current country</div>
        </div>


        <button type="submit" class="submit"> Save </button>
    </form>
</body>
<script src="/js/script.js"></script>
 
