<% layout("/layouts/boilerplate") %>
<style>
    .review-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 70%;
    height: 7rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }

  .review-card:hover {
    transform: scale(1.05);
  }

  .review-card .card-body {
    padding: 20px;
  }

  .review-card .card-title {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  

  .review-card .card-text {
    font-size: 1em;
    color: #555;
  }

  .review-card .fa-star {
    color: #f39c12;
  }

  .review-card .review-delete {
    background: transparent;
    border: none;
    color: #dc3545;
    font-size: 1.2em;
    cursor: pointer;
  }

  .review-card .review-delete:hover {
    color: #c82333;
  }
</style>

<body>
    <h3>Listing Details</h3>
    <div class="img-div">
         <img src="<%= listing.image.url %>" alt="Image listing" class="show-img"> 
        <b>
            <p><%= listing.title %></p>
        </b>
        <p>owned by <i><b><%=listing.owner.username %></b></i></p>
        <p><%= listing.description %></p>
        <p>₹<%= listing.price.toLocaleString("en-IN") %></p>
        <p><i class="fa-sharp fa-solid fa-location-dot"></i> &nbsp; <%= listing.location %></p>
        <p><%= listing.country %></p>
        <% if (reqUser && listing.owner._id.equals(reqUser._id)) { %>
        <div class="btn-div">
            <div><button class="submit edit btn-outline-dark"><a href="/listings/<%= listing._id %>/edit">Edit</a></button></div>
            <div class="delete">
                <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                    <button type="submit" class="submit">Delete</button>
                </form>
            </div>
        </div>
        <% } %>
        <hr>
    </div>
   
    <div class="mb-2 leaves">
        <% if (reqUser) { %>
            <br>
            <br><br>
            <h3>Please Leave your experience</h3>
        <form action="/listings/<%= listing._id %>/reviews" method="post" novalidate class="needs-validation" >
            
            <div class="col-6">
                
                <label for="customRange2" class="form-label">Rating</label>
                <fieldset class="starability-slot">
                    <legend></legend>
                    <input type="radio" id="no-rate" class="input-no-rate star" name="reviews[rating]" value="1" checked aria-label="No rating." />
                    <input type="radio" class="star" id="first-rate1" name="reviews[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" class="star" id="first-rate2" name="reviews[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" class="star" id="first-rate3" name="reviews[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" class="star" id="first-rate4" name="reviews[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" class="star" id="first-rate5" name="reviews[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
                
            </div>
            <div class="col-7">
                <label for="comment">Comment</label>
                <textarea name="reviews[comment]" id="comment" class="form-control" placeholder="share your experience"></textarea>
                <div class="invalid-feedback">please leaves your experience here</div>
            </div>
            <button class="btn btn-outline-dark mt-3">submit</button>
        </form>
        <% } %>
        <p class="allreview"><b>All Reviews</b></p>
        <div class="row">
            <% for (review of listing.reviews) { %>
            <div class="col-12 col-md-6 col-lg-4 mb-3">
              <div class="review-card h-100">
                <div class="card-body">
                  <h5 class="card-title"><b>@<%= review.author.username %></b></h5>
                  <p class="card-text"><%= review.comment %></p>
                  <div>
                    <% for(let i=0; i<parseInt(review.rating);i++) { %>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <% } %>
                  </div>
                  <form method="post" action="/listings/<%= listing.id %>/reviews/<%= review.id %>?_method=delete" class="mt-2">
                    <button class="review-delete"><i class="fa-sharp fa-solid fa-trash"></i></button>
                  </form>
                </div>
              </div>
            </div>
            <% } %>
          </div>
    </div>
</body>
